<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
  <form th:action="@{/productos/add}" th:object="${Producto}" method="POST">
      <div >
          <label>Nombre</label>
          <input type="text" name="nombre" th:field="*{nombre}"
                 class="form-control"
                 placeholder="Introduce el nombre"/>
      </div>
      <div >
          <label>Precio</label>
          <input type="text" name="precio" th:field="*{precio}"
                 class="form-control"
                 placeholder="Introduce el apellido"/>
      </div>
      <div>
          <button type="submit">Añadir</button>
      </div>
  </form>
</body>
</html>